<mat-toolbar>
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/main'">Search</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <a mat-button [routerLink]="'/signup'">Signup</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <a mat-button [routerLink]="'/edit'">Edit</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <a mat-button [routerLink]="'/remove'">Remove</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
        <a mat-button [routerLink]="'/support'">Support</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>