<h1>Customer Signup!</h1>
<form #signupForm>
      <input #firstField placeholder="First Name" name="firstHTML">
      <br/>
      <br/>
      <br/>
      <input #lastField placeholder="Last Name" name="lastHTML">
      <br/>
      <br/>
      <br/>
      <input #emailField placeholder="Email" name="emailHTML">
      <br/>
      <br/>
      <br/>
      <input #phoneField placeholder="Phone" name="phoneHTML">
      <br/>
      <br/>
      <br/>
      <button (click)="submitFunction()">Submit!</button>
</form>